@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chào mừng @ViewBag.Username đến với DayJob website tìm kiếm việc làm dành cho các bạn sinh viên </h1>
    <img src="/lib/vieclam.jpg"/>
</div>
